.env
newnations.json
cogs/__pycache__/mathscog.cpython-39.pyc
cogs/__pycache__/misccog.cpython-39.pyc
cogs/__pycache__/nsapicog.cpython-39.pyc
cogs/__pycache__/owneronlycog.cpython-39.pyc
cogs/__pycache__/recruitmentcog.cpython-39.pyc
